.bi {
    width:1em;
    height:1em;
}

#results {
    text-align: center;
}

#resultsHead :first-child {
    width: 4rem;
}

#ao12 > * {
    border-bottom: 5px var(--bs-table-border-color) solid;
}

#results thead th, #results thead{
    position: sticky;
    top: 0;
}

#results thead th:not(:last-child):not(:first-child) {
    background-color: var(--bs-secondary-bg);
    width: 8rem;
    min-width: 5rem;
}

.resultsTableContainer {
    overflow-y: auto;
}

#inspectionOverlay {
    --bs-bg-opacity: 50%;
    position: absolute;
    font-size: 20em;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pageContainer .roomTimer {
    visibility: collapse;
    order: 3;
}

#pageContainer[data-connected] .roomTimer {
    visibility: visible;
}

#pageContainer[data-connected]:not([data-has-scramble]) .roomTimer {
    opacity: 50%;
    pointer-events: none;
}

#pageContainer[data-has-scramble] .roomTimer {
    opacity: 100%;
    pointer-events: all;
}

#pageContainer:not([data-connected])::after {
    content: "Connect to a room to get started.";
    font-style: italic;
    padding: 1rem;
    order: 2;
    text-align: center;
}

#pageContainer[data-connected]:not([data-has-scramble])::after {
    content: "You are the only person in this room. Please set an event to continue.";
    font-style: italic;
    padding: 1rem;
    order: 2;
    text-align: center;
}

#pageContainer .navbar {
    order: 1;
}

#room, #username {
    min-width: 10rem;
    max-width: 15rem;
}

#pageContainer[data-connected] #connect::after {
    content: "Exit";
}

#pageContainer #connect::after {
    content: "Join";
}

#resultsBody td[data-solve-index]:hover, #resultsBody th:hover {
    cursor: pointer;
}

#viewScrambleImage {
    width: 20rem;
    height: 20rem;
}